backend:
  image:
    repository: xiilab/katech-labeller-back
    tag: 0.16-dev
  env:
  - name: SPRING_DATASOURCE_HIKARI_JDBD-URL
    value: jdbc:log4jdbc:mysql://mariadb:3306/labeller?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Seoul&useSSL=false&allowMultiQueries=true&noAccessToProcedureBodies=true
  - name: SPRING_DATASOURCE_HIKARI_USERNAME
    value: root
  - name: SPRING_DATASOURCE_HIKARI_PASSWORD
    value: root
  - name: DATA-EXTRACTION_HOST
    value: mariadb
  - name: DATA-EXTRACTION_USER
    value: root
  - name: DATA-EXTRACTION_PASSWORD
    value: root
  - name: DATA-EXTRACTION_PORT
    value: 3306
  - name: DATA-EXTRACTION_DB
    value: labeller
  - name: SPRING_SECURITY_OAUTH2_RESOURCE-SERVER_JWT_ISSUER-URI
    value: https://auth.bigdata-car.kr/realms/kadap
  - name: SPRING_SECURITY_OAUTH2_RESOURCE-SERVER_JWT_JWK-SET-URI
    value: https://auth.bigdata-car.kr/realms/kadap/protocol/openid-connect/certs
  - name: KEYCLOAK_REALM
    value: kadap
  - name: KEYCLOAK_RESROUCE
    value: marketplace
  - name: KEYCLOAK_AUTH-SERVER-URL
    value: https://auth.bigdata-car.kr/
  - name: ADMIN_SECRET
    value: eHtHXFsIxEMUdBSGWaFY8HyhrjrJP9O2
frontend:
  image:
    repository: xiilab/katech-labeller-front
    tag: 0.9-dev
namespace: katech-xlabeller
replicaCount: 1
image:
  repository: nginx
  pullPolicy: IfNotPresent
  tag: ''
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ''
podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 80
ingress:
  enabled: false
  className: ''
  annotations: {}
  hosts:
  - host: chart-example.local
    paths:
    - path: /
      pathType: ImplementationSpecific
  tls: []
resources: {}
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}
mariadb:
  nameOverride: ''
  fullnameOverride: mariadb
  architecture: standalone
  auth:
    rootPassword: root
  primary:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ''
    service:
      type: NodePort
      nodePorts:
        mysql: '32000'
    configuration: |-
      [mysqld]
      skip-name-resolve
      explicit_defaults_for_timestamp
      basedir=/opt/bitnami/mariadb
      plugin_dir=/opt/bitnami/mariadb/plugin
      port=3306
      socket=/opt/bitnami/mariadb/tmp/mysql.sock
      tmpdir=/opt/bitnami/mariadb/tmp
      max_allowed_packet=16M
      bind-address=*
      pid-file=/opt/bitnami/mariadb/tmp/mysqld.pid
      log-error=/opt/bitnami/mariadb/logs/mysqld.log
      character-set-server=UTF8
      collation-server=utf8_general_ci
      slow_query_log=0
      slow_query_log_file=/opt/bitnami/mariadb/logs/mysqld.log
      long_query_time=10.0
      interactive_timeout=1803
      wait_timeout=1803

      [client]
      port=3306
      socket=/opt/bitnami/mariadb/tmp/mysql.sock
      default-character-set=UTF8
      plugin_dir=/opt/bitnami/mariadb/plugin

      [manager]
      port=3306
      socket=/opt/bitnami/mariadb/tmp/mysql.sock
      pid-file=/opt/bitnami/mariadb/tmp/mysqld.pid
    persistence:
      enabled: true
      existingClaim: ''
      subPath: ''
      storageClass: nfs-csi
      annotations: { }
      accessModes:
        - ReadWriteOnce
      size: 8Gi
      selector: { }
  secondary:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Exists
    nodeSelector:
      node-role.kubernetes.io/control-plane: ''
    configuration: |-
      [mysqld]
      skip-name-resolve
      explicit_defaults_for_timestamp
      basedir=/opt/bitnami/mariadb
      port=3306
      socket=/opt/bitnami/mariadb/tmp/mysql.sock
      tmpdir=/opt/bitnami/mariadb/tmp
      max_allowed_packet=16M
      bind-address=0.0.0.0
      pid-file=/opt/bitnami/mariadb/tmp/mysqld.pid
      log-error=/opt/bitnami/mariadb/logs/mysqld.log
      character-set-server=UTF8
      collation-server=utf8_general_ci
      slow_query_log=0
      slow_query_log_file=/opt/bitnami/mariadb/logs/mysqld.log
      long_query_time=10.0

      [client]
      port=3306
      socket=/opt/bitnami/mariadb/tmp/mysql.sock
      default-character-set=UTF8

      [manager]
      port=3306
      socket=/opt/bitnami/mariadb/tmp/mysql.sock
      pid-file=/opt/bitnami/mariadb/tmp/mysqld.pid
    persistence:
      enabled: true
      subPath: ''
      storageClass: nfs-csi
      annotations: { }
      accessModes:
        - ReadWriteOnce
      size: 8Gi
      selector: { }
