backend:
  image:
    repository: xiilab/katech-labeller-back
    tag: 0.22-dev
  env:
  - name: SPRING_DATASOURCE_HIKARI_JDBD-URL
    value: jdbc:log4jdbc:mysql://mariadb:3306/labeller?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Seoul&useSSL=false&allowMultiQueries=true&noAccessToProcedureBodies=true
  - name: SPRING_DATASOURCE_HIKARI_USERNAME
    value: root
  - name: SPRING_DATASOURCE_HIKARI_PASSWORD
    value: root
  - name: DATA-EXTRACTION_HOST
    value: mariadb
  - name: DATA-EXTRACTION_USER
    value: root
  - name: DATA-EXTRACTION_PASSWORD
    value: root
  - name: DATA-EXTRACTION_PORT
    value: 3306
  - name: DATA-EXTRACTION_DB
    value: labeller
  - name: SPRING_SECURITY_OAUTH2_RESOURCE-SERVER_JWT_ISSUER-URI
    value: https://auth.bigdata-car.kr/realms/kadap
  - name: SPRING_SECURITY_OAUTH2_RESOURCE-SERVER_JWT_JWK-SET-URI
    value: https://auth.bigdata-car.kr/realms/kadap/protocol/openid-connect/certs
  - name: KEYCLOAK_REALM
    value: kadap
  - name: KEYCLOAK_RESROUCE
    value: marketplace
  - name: KEYCLOAK_AUTH-SERVER-URL
    value: https://auth.bigdata-car.kr/
  - name: ADMIN_SECRET
    value: eHtHXFsIxEMUdBSGWaFY8HyhrjrJP9O2
  volumeMounts:
  - name: xlabeller-pvc
    mountPath: /root/katech
  volumes:
  - name: xlabeller-pvc
    persistentVolumeClaim:
      claimName: mariadb-pvc
frontend:
  image:
    repository: xiilab/katech-labeller-front
    tag: 0.42-dev
mariadb:
  volumeMounts:
  - name: mariadb-pvc
    mountPath: /bitnami/mariadb
  volumes:
  - name: mariadb-pvc
    persistentVolumeClaim:
      claimName: mariadb-pvc
namespace: katech-xlabeller
replicaCount: 1
image:
  repository: nginx
  pullPolicy: IfNotPresent
  tag: ''
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ''
podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 80
ingress:
  enabled: false
  className: ''
  annotations: {}
  hosts:
  - host: chart-example.local
    paths:
    - path: /
      pathType: ImplementationSpecific
  tls: []
resources: {}
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}
